body {
  background-color: #900C3F
}

.tagline {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #FFC300
}

.font-main {
  font-family: 'PT Serif', serif;
}

.font-handwriting {
  font-family: 'Allison', cursive;
}

.author {
  position: relative;
  width: 100%;
  text-align: right;
}
